/*
    Nord Styles and Colors
    polar night (darkest to lightest):  #2E3440, #3B4252, #434C5E, #4C566A
    snow storm (darkest to lightest):   #D8DEE9, #E5E9F0, #ECEFF4
    frost (green to blue):              #8FBCBB, #88C0D0, #81A1C1, #5E81AC
    aurora (red to purple):             #BF616A (red), #D08770 (orange), #EBCB8B (yellow), #A3BE8C (green), #B48EAD (purple)
*/

body {
    background-color: #3B4252;
    color: #E5E9F0;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #81A1C1;
    text-align: center;
}

h2 {
    color: #8FBCBB;
    text-align: center;
}

section {
    display: none;
}

footer {
    display: block;
    margin: 0 auto;
    background-color: #434C5E;
    padding: 10px;
    bottom: 0;
    position: fixed;
}

#jordan {
    color: #EBCB8B;
}

#manya {
    color: #A3BE8C;
}

#noga {
    color: #B48EAD;
}

#nav-container {
    background-color: #434C5E;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: auto;
}

nav a {
    color: #E5E9F0;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
}

nav a:hover {
    background-color: #4C566A;
}

.team-intros {
    background-color: #4C566A;
}

img {
    width: 100%;
    transition: 0.5s ease;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
    -ms-transform: translate(-50%, -50%);
    font-size: large;
}

.img-container {
    position: relative;
}

.img-container:hover img {
    opacity: 0.3;
}

.img-container:hover .img-text {
    opacity: 1;
}