body {
    color:rgb(76, 76, 76);
}

h1 {
    color:darkslategray;
}

h2 {
    color:dimgrey;
}

#jordan {
    color:darkslateblue;
}

#manya {
    color:darkolivegreen
}

#noga {
    color:darkorchid;
}

nav a {

}

nav a:hover {
    
}