/*

Theming colors:
- background (light): #FCFCFC
- background (dark): #5C6166
- accent (blue): #0097B2
- accent (yellow): #F2AE49

*/

body {
  background-color: #fcfcfc;
  color: #5c6166;
  font-family: "Albert Sans", sans-serif;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 0 20px;
}

#title-section {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  color: #0097b2;
  width: fit-content;
  padding: 0 20px 0 20px;
}

h2 {
  font-weight: 500;
  background-color: #0097b2;
  color: #fcfcfc;
  width: fit-content;
  border-radius: 20px;
  padding: 20px;
}

h3 {
  font-size: 40px;
  color: #0097b2;
  width: fit-content;
  padding: 0 20px 0 20px;
}

nav {
  order: 2;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  gap: 10%;
}

nav > a {
  color: #f2ae49;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  padding: 20px;
}

nav > a:hover {
  color: #f2b949;
}

fieldset {
  margin-bottom: 10px; /* Add space below each fieldset */
  margin-top: 10px;
}

button {
  background-color: #0097b2;
  color: #fcfcfc;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.imgSlides {
  display: none;
}

/* Captions */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

/* Slide number */
.numberText {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Albert Sans", sans-serif;
}

/* Bullets */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #fcfcfc;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.rank,
.score-circle,
.location-name {
  display: inline-block;
  vertical-align: middle;
}

.rank {
  font-weight: bold;
  margin-right: 10px;
}

.score-circle {
  width: 40px;
  height: 40px;
  line-height: 40px; /* Aligns text vertically */
  border-radius: 50%;
  background-color: #0097b2;
  color: #fcfcfc;
  text-align: center;
  margin-right: 10px;
}

.location-name {
  padding: 10px;
  background-color: #f2ae49;
  color: #5c6166;
  cursor: pointer;
  margin-right: 10px;
}

.location-name:hover {
  background-color: #f2b949; /* Slightly lighter color on hover */
}

.location-tags .tag {
  display: inline-block;
  margin-right: 8px; 
  margin-bottom: 8px; 
  padding: 6px 12px; 
  border-radius: 12px; 
  background-color: #f2f2f2; 
  color: #333; 
  font-size: 0.9em; 
  font-weight: 500; 
  text-transform: capitalize; 
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s; 
}

